body {
    font-family: Ubuntu, Arial, sans-serif;
}
table {
    border: 1px solid gray;
    border-collapse: collapse;
}

table#board {
    width: 100%;
    min-height: 20em;
    position: relative;
}
table#board > thead > tr > th {
    padding: .5em;
    border: 1px solid white;
    background-color: #996633;
    color: white;
    min-width: 10em;
}
table#board > tbody > tr > td {
    padding: .5em;
    border: 1px dashed white;
    background: tan;
}
table#board > tbody > tr > td.story {
    background: #996633;
    color: white;
}
table#board > tbody > tr > td.current-target {
    background: #996633;
}

.card {
    float: left;
    width: 8em;
    height: 4em;
    margin: 10px;
    min-height: 60px;
    padding: .5em;
    cursor: pointer;
    background: white;
    background: -moz-radial-gradient(40% 145% 1deg, circle closest-corner, rgba(220, 220, 220, .9) 50%, rgba(242, 242, 242, .9) 95%);
    box-shadow: 1px 1px 5px #888888;
}

.card-edit-form textarea {
    background: white;
    border: none;
}

textarea#serialized {
    width: 900px;
    height: 200px;
    margin-top: 5em;
    padding: 2em;
    background: white;
    color: #cc9966;
    border: 1px solid #cc9966;
}
