<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Simple Agile Planning Board</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/handlebars.js"></script>
    <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script-->
    <script type="text/javascript" src="/static/js/jquery.jeditable.min.js"></script>

    <link href="/static/styles.css" media="all" rel="stylesheet" />
</head>
<body>
    <table id="board"></table>

    <script type="text/javascript" src="/static/js/board.js"></script>
</body>
</html>
